body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-family: theme('fontFamily.sans');
}

@keyframes shineSmooth {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

.animate-shine-smooth {
  animation: shineSmooth 1.2s ease-out infinite;
}


@tailwind base;
@tailwind components;
@tailwind utilities;